[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = dunfell
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = dunfell
[submodule "meta-security"]
	path = meta-security
	url = git://git.yoctoproject.org/meta-security
	branch = dunfell
[submodule "meta-ettus"]
	path = meta-ettus
	url = https://github.com/bmagistro/meta-ettus.git
	branch = dunfell
[submodule "meta-sdr"]
	path = meta-sdr
	url = https://github.com/balister/meta-sdr.git
	branch = dunfell
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = dunfell
